{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
	<a href="{{path('annonces')}}"><button>Toutes les annonces</button></a>
			{% if annonce.isVisible %}
				<div>
					<h4>{{annonce.name}}</h4>
					<div>{{annonce.description}}</div>
					<span>{{annonce.price}}€</span>
                    <p>Annonce de : {{annonce.getUser.pseudo}}</p>
                    <p>Contacter : {{annonce.getUser.email}}</p>
				</div>
			{% endif %}
	</div>
{% endblock %}
